
    .hexadash-top-menu {
      display: none
    }

    .hexadash-top-menu ul li {
      position: relative
    }

    .hexadash-top-menu ul li:not(:last-child) {
      margin-inline-end: 34px
    }

    .hexadash-top-menu ul li:hover>.subMenu {
      visibility: visible;
      top: 65px;
      opacity: 1
    }

    .hexadash-top-menu ul li .parent-icon {
      position: absolute;
      inset-inline-end: 15px;
      top: 50%;
      --tw-translate-y: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      font-size: 10px;
      --tw-text-opacity: 1;
      color: rgb(116 116 116 / var(--tw-text-opacity));
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    .hexadash-top-menu ul li .parent-icon:is(.dark *) {
      color: rgb(255 255 255 / 0.6)
    }

    .hexadash-top-menu ul li a {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      --tw-text-opacity: 1;
      color: rgb(64 64 64 / var(--tw-text-opacity))
    }

    .hexadash-top-menu ul li a:is(.dark *) {
      color: rgb(255 255 255 / 0.6)
    }

    .hexadash-top-menu ul li a .menuItem {
      position: absolute;
      inset-inline-end: 52px;
      top: 50%;
      display: flex;
      height: 18px;
      width: 18px;
      --tw-translate-y: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      font-size: 10px;
      font-weight: 700;
      line-height: 1
    }

    .hexadash-top-menu ul li>ul li {
      position: relative;
      margin-inline-end: 0px;
      display: flex;
      align-items: center;
      padding-inline-end: 0px
    }

    .hexadash-top-menu ul li>ul li:hover>a {
      background-color: rgb(130 49 211 / .06);
      padding-inline-start: 40px;
      --tw-text-opacity: 1;
      color: rgb(130 49 211 / var(--tw-text-opacity))
    }

    .hexadash-top-menu ul li>ul li:hover>a:is(.dark *) {
      background-color: rgb(255 255 255 / 0.1);
      color: rgb(255 255 255 / .87)
    }

    .hexadash-top-menu ul li>ul li:hover .parent-icon {
      --tw-translate-y: -50%;
      --tw-rotate: -93deg;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      --tw-text-opacity: 1;
      color: rgb(130 49 211 / var(--tw-text-opacity))
    }

    .hexadash-top-menu ul li>ul li:hover .parent-icon:is(.dark *) {
      color: rgb(255 255 255 / .87)
    }

    .hexadash-top-menu ul li>ul li a {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 0px;
      padding-bottom: 0px;
      font-weight: 400;
      line-height: 3;
      --tw-text-opacity: 1;
      color: rgb(116 116 116 / var(--tw-text-opacity));
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    .hexadash-top-menu ul li>ul li a:is(.dark *) {
      color: rgb(255 255 255 / 0.6)
    }

    .hexadash-top-menu ul li>ul li a.active {
      background-color: rgb(130 49 211 / .06);
      padding-inline-start: 40px;
      --tw-text-opacity: 1;
      color: rgb(130 49 211 / var(--tw-text-opacity))
    }

    .hexadash-top-menu ul li>ul li a.active:is(.dark *) {
      background-color: rgb(255 255 255 / 0.1);
      color: rgb(255 255 255 / .87)
    }

    .hexadash-top-menu ul li>ul li:hover .subMenu {
      top: 0px;
      inset-inline-start: 250px
    }

    .hexadash-top-menu .subMenu {
      visibility: hidden;
      position: absolute;
      inset-inline-start: 0px;
      top: 80px;
      z-index: 98;
      width: 250px;
      border-radius: 6px;
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      padding-top: 12px;
      padding-bottom: 12px;
      opacity: 0;
      --tw-shadow: 0 15px 40px rgba(82, 63, 105, 0.15);
      --tw-shadow-colored: 0 15px 40px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    .hexadash-top-menu .subMenu:is(.dark *) {
      --tw-bg-opacity: 1;
      background-color: rgb(1 4 19 / var(--tw-bg-opacity))
    }

    .hexadash-top-menu .subMenu .subMenu {
      visibility: hidden;
      inset-inline-start: 250px;
      top: 0px;
      z-index: 98;
      width: 250px;
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      padding-top: 12px;
      padding-bottom: 12px;
      opacity: 0;
      --tw-shadow: 0 15px 40px rgba(82, 63, 105, 0.15);
      --tw-shadow-colored: 0 15px 40px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    .hexadash-top-menu .subMenu .subMenu:is(.dark *) {
      --tw-bg-opacity: 1;
      background-color: rgb(1 4 19 / var(--tw-bg-opacity))
    }

    .hexadash-top-menu>ul>li a.active {
      --tw-text-opacity: 1;
      color: rgb(130 49 211 / var(--tw-text-opacity))
    }

    .hexadash-top-menu>ul>li a.active:is(.dark *) {
      color: rgb(255 255 255 / .87)
    }

    .hexadash-top-menu>ul>li a.active:before {
      --tw-text-opacity: 1;
      color: rgb(130 49 211 / var(--tw-text-opacity))
    }

    .hexadash-top-menu>ul>li a.active:is(.dark *):before {
      color: rgb(255 255 255 / .87)
    }

    .hexadash-top-menu.topMenu-active {
      display: flex
    }



