<div class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative pb-5">
  <div
    class="px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] flex flex-wrap items-center justify-between max-sm:flex-col max-sm:h-auto max-sm:mb-[15px]">
    <h1
      class="mb-0 inline-flex items-center py-[16px] max-sm:pb-[5px] overflow-hidden whitespace-nowrap text-ellipsis text-[18px] font-semibold text-dark dark:text-white/[.87]">
      Products of '{{serviceData?.name}}'</h1>
    <button (click)="openProductModal()"
      class="flex items-center px-[14px] text-sm text-white rounded-md font-semibold bg-primary border-primary h-10 gap-[6px]"
      nz-button>

      <i class="text-[12px]" nz-icon nzType="plus"></i>
      <span class="m-0">Add Product</span>
    </button>
  </div>
  <div *ngIf="originData.length != 0"
    class="serch-bar-container px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] mb-3">
    <div class="3xl:w-[280px] max-ssm:w-full [&>div>div.ant-select-selector]:border-0 shadow-md">
      <nz-input-group class="bg-white dark:bg-white/10 rounded-[6px] h-[40px] flex items-center px-[20px]">
        <input (ngModelChange)="filterProductData($event)" [(ngModel)]="filterData.name"
          class="bg-transparent border-none text-[15px] shadow-none text-dark dark:text-white/[.87] flex items-center"
          type="text" nz-input placeholder="Search ">
        <i class="text-theme-gray dark:text-white/[.87]" nz-icon nzType="search"></i>
      </nz-input-group>
    </div>
  </div>
  <div class="px-[25px] pt-0 pb-[25px] mb-5" *ngIf=" originData.length != 0">
    <div *ngFor="let tab of tabData" [class.hidden]="sellingTab !== tab.key">
      <div class="overflow-x-auto w-full">
        <nz-table [nzData]="seller[tab.key]" [nzFrontPagination]="false" [nzShowPagination]="false"
          class="text-sm rounded- [5px]">
          <thead>
            <tr>
              <th
                class="bg-[#fafafa] dark:bg-[#323440] px-4 py-2.5 text-start text-light dark:text-white/[.87] text-[12px] font-medium border-none before:hidden rounded-s-[4px]">
                PRODUCT</th>
              <th
                class="bg-[#fafafa] dark:bg-[#323440] px-4 py-2.5 text-light dark:text-white/[.87] text-[12px] font-medium border-none before:hidden">
                PRICE</th>

              <th
                class="bg-[#fafafa] dark:bg-[#323440] px-4 py-2.5 text-light dark:text-white/[.87] text-[12px] font-medium border-none before:hidden">
                CREATED DATE</th>
              <th
                class="bg-[#fafafa] dark:bg-[#323440] px-4 py-2.5 text-end text-light dark:text-white/[.87] text-[12px] font-medium border-none before:hidden rounded-e-[4px]">
                Actions
              </th>
            </tr>
          </thead>
          <tbody class="bg-white dark:bg-[#1b1d2a]">
            <tr *ngFor="let product of productData" class="group">
              <td
                class="ps-0 pe-4 py-2.5 text-start last:text-end text-dark dark:text-white/[.87] group-hover:bg-transparent text-15 font-medium border-none before:hidden rounded-s-[4px]">
                <div class="flex items-center">
                  <!-- <div class="me-2.5 w-[34px] h-[34px]">
                    <img class="min-w-[34px] h-[34px] rounded-4" src="assets/images/sellers/{{product.img}}"
                      [alt]="product.name" />
                  </div> -->
                  <div class="me-2.5 w-[34px] h-[34px]">
                    <img class="min-w-[34px] h-[34px] rounded-4" [src]="host+product.imgUrl" [alt]="product.name" />
                  </div>
                  <span class="font-medium capitalize text-dark dark:text-white/[.87] text-15">{{ product.name }}</span>
                </div>
              </td>
              <td
                class="px-4 py-2.5 font-normal last:text-end capitalize text-[14px] text-dark dark:text-white/[.87] border-none group-hover:bg-transparent">
                {{ (product.price| currency:'VND':'':'1.0-0').replace('₫', '') + ' VND' }}</td>

              <td
                class="px-4 py-2.5 font-normal last:text-end capitalize text-[14px] text-dark dark:text-white/[.87] border-none group-hover:bg-transparent">
                {{ product.created_date }}</td>
              <td
                class="ltr:pr-[20px] rtl:pl-[20px] ltr:pl-[20px] rtl:pr-[20px] text-dark dark:text-white/[.87] text-[15px] py-[20px] before:hidden border-none group-hover:bg-transparent">
                <ul class="flex items-center justify-end gap-[15px]">
                  <!-- <li>
                    <div class="flex items-center leading-none text-light dark:text-white/60 hover:text-primary">
                      <span class="[&>svg]:w-[14px] [&>svg]:h-[14px] cursor-pointer " nz-icon nzType="eye"
                        nzTheme="outline"></span>
                    </div>
                  </li> -->
                  <li>
                    <div class="flex items-center">
                      <span (click)="openProductModal(product.id)"
                        class=" cursor-pointer text-light dark:text-white/60 [&>svg]:w-[14px] [&>svg]:h-[14px] hover:text-info "
                        nz-icon nzType="edit" nzTheme="outline">
                      </span>
                    </div>
                  </li>
                  <li>
                    <div class="flex items-center">
                      <span (click)="onDeleteProduct(product.id)"
                        class="cursor-pointer text-light dark:text-white/60 [&>svg]:w-[14px] [&>svg]:h-[14px] hover:text-danger"
                        nz-icon nzType="delete" nzTheme="outline"></span>
                    </div>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>

        </nz-table>
      </div>
    </div>
    <div class=" w-full border-t border-regular dark:border-white/10 pt-[30px] mt-[10px] flex justify-end">
      <nz-pagination [nzPageSize]="pageData.limit" [nzPageIndex]="pageData.page || 1" [nzTotal]="pageData.totalDocs"
        (nzPageIndexChange)="fetchProductData()"></nz-pagination>
    </div>
  </div>
  <nz-empty *ngIf="productData.length == 0 && originData.length == 0" class="mb-5"
    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" [nzNotFoundContent]="contentTpl"
    [nzNotFoundFooter]="footerTpl">
    <ng-template #contentTpl>
      <span class="text-[15px] font-normal text-theme-gray dark:text-white/60 capitalize"> Empty !!! </span>
    </ng-template>
    <ng-template #footerTpl>
      <button nz-button
        class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]"
        (click)="openProductModal()">Create Now</button>
    </ng-template>
  </nz-empty>
</div>
<nz-modal nzWidth="750px" [(nzVisible)]="isOpenProductModal" [nzFooter]="modalFooter" (nzOnCancel)="closeProductModal()"
  [nzTitle]="!isEditting? 'Create Product': 'Update Product'">
  <ng-container *nzModalContent>
    <form nz-form class="" [formGroup]="productForm">

      <nz-form-item>
        <nz-form-label class="flex items-center font-medium dark:text-white/60" [nzSm]="6" [nzXs]="24" nzRequired
          nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input
            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
            nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label class="flex items-center font-medium dark:text-white/60" [nzSm]="6" [nzXs]="24" nzRequired
          nzFor="email">Price </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">

          <div class="relative mt-2 rounded-md shadow-sm">

            <input formControlName="price" mask="separator.0" thousandSeparator="."
              class="{{ 'capitalize [&>nz-select-top-control]:border-normal dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[46px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[4px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60' }}"
              nz-input id="email" appAllowDecimalNumber />
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
              <span class="text-gray-500 sm:text-sm" id="price-currency">VND</span>
            </div>
          </div>
          <!-- <div *ngIf="submitedRoom && roomControl['price'].errors" class="invalid-feedback">
            <span class="ant-form-item-explain-error mt-1 ml-1"
              *ngIf="roomControl['price']?.errors['required'] == true ">
              Please input price!
            </span>
          </div> -->

        </nz-form-control>

      </nz-form-item>
      <nz-form-item>
        <nz-form-control nxMd="8" nzXs="24" class="mb-[10px]" nzErrorTip="The input is not valid First Name!">
          <nz-form-label
            class="flex items-center font-medium [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
            nzRequired>Image URL</nz-form-label>

          <div class="flex items-center">
            <label for="uploadFile1"
              class="flex bg-primary hover:bg-primary-hbr text-white text-base px-5 py-3 outline-none rounded w-max cursor-pointer  ">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 mr-2 fill-white inline" viewBox="0 0 32 32">
                <path
                  d="M23.75 11.044a7.99 7.99 0 0 0-15.5-.009A8 8 0 0 0 9 27h3a1 1 0 0 0 0-2H9a6 6 0 0 1-.035-12 1.038 1.038 0 0 0 1.1-.854 5.991 5.991 0 0 1 11.862 0A1.08 1.08 0 0 0 23 13a6 6 0 0 1 0 12h-3a1 1 0 0 0 0 2h3a8 8 0 0 0 .75-15.956z"
                  data-original="#000000" />
                <path
                  d="M20.293 19.707a1 1 0 0 0 1.414-1.414l-5-5a1 1 0 0 0-1.414 0l-5 5a1 1 0 0 0 1.414 1.414L15 16.414V29a1 1 0 0 0 2 0V16.414z"
                  data-original="#000000" />
              </svg>
              Upload
              <input type="file" id='uploadFile1' class="hidden" (change)="onUploadImage($event)" />
            </label>

            <div nz-col nzSpan="14">
              <div class="ml-[40px] p-2">
                <img class="h-[200px] object-cover max-w-full rounded-lg"
                  [src]="!productForm.get('imgUrl')?.value.includes('https')? host + productForm.get('imgUrl').value: productForm.get('imgUrl').value"
                  alt="">
              </div>
            </div>

          </div>
        </nz-form-control>

      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="flex items-center font-medium dark:text-white/60" [nzSm]="6" [nzXs]="24" nzRequired
          nzFor="decscription">Decscription</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <textarea formControlName="decscription"
            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
            nz-input placeholder="Decscription" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>

    </form>

  </ng-container>
  <ng-template #modalFooter>
    <div class="w-full">
      <button (click)="submitProductForm()"
        class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]"
        nz-button nzType="primary" [nzLoading]="isConfirmLoading">
        Submit
      </button>
    </div>

  </ng-template>
</nz-modal>
